<%- model_class = League -%>
<div class="page-header">
  <h1><%=t '.title', :default => @league.name %> - Leaderboard</h1>
</div>
<% cache ['v1',@leaderboard.cache_key] do -%> 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @top_table.each do |pl| %>
    <tr>
      <td><%= pl.player.name %></td>
      <td><%= pl.score %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
<%end%>

<%= link_to t('.new Game', :default => t("helpers.links.new")),
            new_league_game_path(@league),
            :class => 'btn btn-primary' %>

<div class="form-actions">
  <%#= link_to t('.back', :default => t("helpers.links.back")),
              "/", :class => 'btn'  %>
</div>
